version: 2.1
commands:
  run_database:
    description: "Run a MySQL compatible docker container"
    parameters:
      DB_NAME:
        type: string
        default: "db"
    steps:
      - run:
          name: Run the docker DB container
          # use the official mariadb image using default values (user/pass etc.)
          command: |
            docker run -d --name=db \
              --env="MYSQL_DATABASE=<< parameters.DB_NAME >>" \
              --env="MYSQL_USER=admin" \
              --env="MYSQL_PASSWORD=pass" \
              --env="MYSQL_RANDOM_ROOT_PASSWORD=yes" \
              --env="MYSQL_ROOT_PASSWORD=password" \
              mariadb:10.3

  build_docker_image:
    description: "Build a Docker Image and save it in the workspace"
    parameters:
      image_name:
        type: string
        default: 'docker-image'
      file:
        type: string
        default: Dockerfile
    steps:
      - run: docker build --tag=<< parameters.image_name >> -f << parameters.file >> .
      - run: docker save << parameters.image_name >> > /tmp/<< parameters.image_name >>.tar
      - persist_to_workspace:
          root: /tmp
          paths:
            - '*.tar'

  load_docker_image:
    description: Loads a docker images from workspace
    parameters:
      image_name:
        type: string
        default: 'docker-image'
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load a docker image from workspace
          command: docker load -i /tmp/workspace/<< parameters.image_name >>.tar

  run_docker_image:
    description: "Runs a docker image in foreground"
    parameters:
      image_name:
        type: string
        default: 'docker-image'
    steps:
      - run:
          name: Run the docker web container
          background: true
          command: |
            docker run --name=web --link=db:db \
              --env="REPOSITORY_URL=https://github.com/neos/neos-development-distribution" \
              --env="VERSION=3.3" \
              --env="SITE_PACKAGE=Neos.Demo" \
              << parameters.image_name >>
      - run: while true; do if docker logs web 2>&1 | grep "ready to handle connections"; then break; else echo "Waiting for web container to finish provisioning..." && sleep 10; fi done

  test_neos_demosite:
    description: "Test if the Neos DemoSite renders OK"
    steps:
      - run:
          name: Do basic front-end tests
          command: |
            docker run --rm --volumes-from=web --link=web alpine /bin/sh -c 'apk add curl -q \
             && curl -s -L --head http://web | grep "HTTP/1.1 200 OK" \
             && curl -s -L --head http://web | grep "X-Flow-Powered" \
             && curl -s -L http://web | grep "This website is powered by Neos"'

jobs:
  build:
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker
      - build_docker_image

  test:
    docker:
      - image: docker:stable-git
    steps:
      - setup_remote_docker
      - run_database
      - load_docker_image
      - run_docker_image
      - test_neos_demosite

  build-behat:
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker
      # we load the default image because our image uses it for building
      - load_docker_image:
          image_name: docker-image
      - build_docker_image:
          image_name: docker-image-behat
          file: Dockerfile-behat

  test-behat:
    docker:
      - image: docker:stable-git
    steps:
      - setup_remote_docker
      - load_docker_image:
          image_name: docker-image-behat
      - run_database:
          DB_NAME: db_behat
      - run:
          name: "Run a single Behat Test from the Neos.Neos Package"
          command: |
            docker run --rm --link=db:db \
              --env="REPOSITORY_URL=https://github.com/neos/neos-development-distribution" \
              --env="VERSION=3.3" \
              --env="SITE_PACKAGE=Neos.Demo" \
             docker-image-behat \
             sh -c 's6-svwait -U /var/run/s6/services/selenium ; sudo -u www-data cd /data/www/Packages/Neos/Neos.Neos/Tests/Behavior /data/www/bin/behat Features/ExportImport.feature'

workflows:
  version: 2
  all:
    jobs:
      - build
      - test:
          requires:
            - build
      - build-behat:
          requires:
            - build
      - test-behat:
          requires:
            - build-behat
